.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 30px;
  font-size: 25px;
}
.welcome-header__text {
  opacity: 70%;
  width: 60%;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  font-size: 18px;
  border: none;
  padding: 15px 0px;
  margin-bottom: 25px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
}
/* not은 "이 것을 제외한 나머지에 적용하고 싶어요" 라는 말이라서,
  #login-form input 에도 똑같이 쓰면 중복적용됩니다.
  not쪽에만 쓰셔야해용, 즉 "야 submit 타입을 제외한 나머지 input에만 이 두가지 스타일 적용해!" */
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}
/* submit input에는 적용하고 싶지 않더라도 이 부분은 수정할 필요가 없는 것이 
  애초에 border-bottom을 submit 타입이 아닐때에만 적용하도록 코드를 작성했기 때문이다. */

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  font-size: 16px;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
/* a태글 경우 부모는 폼태그이기 때문에 디폴트로 설정된 블랙 컬러를 따라가는거지  */

/* 모든 화면에 상태바가 존재하는 만큼 우린 status-bar의 css파트를 따로 분리시켰어. */
/* style.css파일은 다른 css파일을 추가하는 파일로 써야겠어 
  css파일을 여러 파일로 분할했다가 다시 합치는거지  */
/* 기본적으로는 먼저 코드를 대충 작성하고 나중에 코드를 정리할거야 */

/* - 가상 클래스 선택자(pseudo element)
  - :not()→ 뭔가가 적용되는 걸 원하지 않을 때 사용한다.
  - [ ] 사이에 쓰인 것들은 특성 선택자(attribute selector)이다.
  - cursor: pointer;로 버튼 위의 커서를 변경할 수 있다.
  - color:inherit;는 부모로부터 색을 상속받는 것이다. */
